* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rega(0, 0, 0, 0);
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: Microsoft YaHei, Tahoma, simsun;
  overflow: hidden;
}
body {
  background: #f5f5f5;
}
.c {
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
}
.hide {
  display: none;
}
.wrap {
  width: 100%;
  height: 100%;
}
.wrap #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.wrap #loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  display: block;
}
.wrap #tipsBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.wrap #tips {
  position: absolute;
  top: 70px;
  left: 10%;
  width: 80%;
  padding: 15px 5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  opacity: 0;
  z-index: 10;
}
.wrap .main {
  width: 100%;
  transform: translate(0, 0);
  transition: 300ms;
}
.wrap .main .page {
  position: relative;
  width: 100%;
}
.wrap .main .page .btn {
  width: 100%;
  background: #3594d1;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}
#page0 {
  position: relative;
  background: url(../img/setbg.png);
  background-size: 100% 100%;
}
#page0 #OpenDraw {
  position: absolute;
  bottom: 4%;
  left: 7.5%;
  width: 85%;
  background: #fc7837;
  border-radius: 4px;
  margin: 10px 0;
}
#page1 .pageContent ul li {
  width: 100%;
  border-bottom: 1px solid #99c4e0;
  padding: 10px 5px;
}
#page1 .pageContent ul li table {
  margin-top: -17px;
  width: 100%;
}
#page1 .pageContent ul li table tr td input {
  padding: 10px 3px;
  border-radius: 4px;
  border: 1px solid #999;
  width: 150px;
  color: #333;
}
#page1 .pageContent ul li table tr .td1 {
  width: 44%;
}
#page1 .pageContent ul .bgWhite {
  background: #fff;
}
#page1 .pageContent ul .bgCyan {
  background: #ebf7ff;
}
#page1 .btn {
  margin: 50px 0 10px 0;
}
#page1 #skip {
  padding: 15px 0;
  width: 50px;
  text-align: center;
  text-decoration: underline;
  color: #888;
}
#page2 .title {
  width: 100%;
  padding: 15px 5%;
  font-size: 1.25em;
  color: #666;
  border-bottom: 1px solid #76c2de;
}
#page2 .pageContent {
  overflow: hidden;
}
#page2 .pageContent .pcTable {
  padding-bottom: 200px;
}
#page2 .pageContent table {
  width: 100%;
}
#page2 .pageContent table tr td {
  padding: 0 2px 10px 2px;
}
#page2 .pageContent table .dishTable tr .td0 {
  width: 13%;
  text-align: center;
}
#page2 .pageContent table .dishTable tr .td0 img {
  width: 20px;
  display: inline-block;
}
#page2 .pageContent table .dishTable tr .td2 {
  width: 47%;
}
#page2 .pageContent table .dishTable tr .td2 .iptWrap {
  position: relative;
}
#page2 .pageContent table .dishTable tr .td2 input {
  width: 150px;
}
#page2 .pageContent table .dishTable tr .td2 ul {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 160px;
}
#page2 .pageContent table .dishTable tr .bordertop {
  border-top: 1px solid #76c2de;
}
#page2 .pageContent table .dishTable tr .borderbottom {
  border-bottom: 1px solid #76c2de;
}
#page2 .pageContent table .dishTable tr td {
  background: #ebf7ff;
  padding-top: 10px;
}
#page2 .pageContent table .dishTable tr td ul {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
}
#page2 .pageContent table .dishTable tr td ul li {
  padding: 5px 0;
  background: #fff;
  list-style-type: none;
  border: 1px solid #aaa;
  border-bottom: none;
}
#page2 .pageContent table .dishTable tr td ul li:first-child {
  border-top: none;
}
#page2 .pageContent table .dishTable tr td ul li:last-child {
  border-bottom: 1px solid #aaa;
}
#page2 .pageContent table .dishTable tr td input {
  padding: 8px 3px;
  width: 100%;
}
#page2 .pageContent table .add {
  padding-left: 0;
  padding-right: 0;
}
#page2 .pageContent table #addDish {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #76c2de;
  border-bottom: 1px solid #76c2de;
  color: #666;
  background: #fff url(../img/add.png) 32% center no-repeat;
  background-size: 20px 20px;
}
/*# sourceMappingURL=awardSet.css.map */
