*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rega(0, 0, 0, 0);
}
html,
body{
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family:Microsoft YaHei,Tahoma,simsun;
    overflow: hidden;
}

body{
    background: #f5f5f5;
}
.c{
    clear: both;
    width: 0;
    height: 0;
    font-size: 0;
}
.hide{
    display: none;
}
.wrap{
    width: 100%;
    height: 100%;
    
    #loading{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8;
        
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            display: block;
        }
    }
    
    #tipsBg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    #tips{
        position: absolute;
        top: 70px;
        left: 10%;
        width: 80%;
        padding: 15px 5px;
        text-align: center;
        background: rgba(0,0,0,.8);
        color: #fff;
        border-radius: 10px;
        opacity: 0;
        z-index: 10;
    }
    
    .main{
        width: 100%;
        transform: translate(0, 0);
        transition: 300ms;
        -webkit-transform: translate(0, 0);
        -webkit-transition: 300ms;
        
        .page{
            position: relative;
            width: 100%;
            
            .pageContent{
                padding-bottom: 15px;
                
                ul{
                    li{
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        margin: 15px 0;
                        background: #ebf7ff;
                    }
                    .dishlist{
                        table{
                            margin-top: -15px;
                            width: 100%;
                            tr{
                                td{
                                    border-bottom: 1px solid #aaa;
                                    padding: 10px 0;
                                    
                                    input{
                                        padding: 10px 3px;
                                        border: 1px solid #999;
                                        border-radius: 3px;
                                    }
                                }
                                .dishbtn{
                                    width: 10%;
                                    text-align: center;
                                    img{
                                        width: 20px;
                                        display: inline-block;
                                    }
                                }
                                .dishname{
                                    width: 60%;
                                    ul{
                                        width: 94%;
                                        li{
                                            padding: 5px;
                                        }
                                    }
                                }
                                .dishnum{
                                    width: 30%;
                                    input{
                                    }
                                }
                            }
                            tr:last-child{
                                td{
                                    border: none;
                                }
                            }
                        }
                        .dishbtn{
                            text-align: center;
                            width: 10%;
                        }
                        .dishname{
                            width: 55%;
                            div{
                                position: relative;
                                width: 100%;
                                input{
                                    width: 90%;
                                }
                                ul{
                                    position: absolute;
                                    //width: 90%;
                                    z-index: 1;
                                    li{
                                        border: 1px solid #aaa;
                                        border-top: none;
                                        border-radius: 0;
                                        background: #fff;
                                        margin: 0;
                                        list-style-type: none;
                                    }
                                }
                            }
                        }
                        .dishnum{
                            width: 35%;
                        }
                    }
                }
                
                table{
                    width: 100%;
                }
                input[type="number"]{
                    width: 60px;
                }
                
                .freequeue,
                .redEnvelope{
                    //text-align: center;
                    font-size: 1.2em;
                    .whoOffer{
                        font-size: 0.9em;
                        padding-top: 5px;
                    }
                }
                .redEnvelope{
                    text-align: center;
                    padding: 10px 0;
                    color: #666;
                    font-size: 1.1em;
                    table{
                        margin-top: -20px;
                    }
                    .whoOffer{
                        text-align: center;
                    }
                }
                .freequeue{
                    position: relative;
                    height: 70px;
                    font-size: 1em;
                    overflow: hidden;
                    background: #ebf7ff;
                    div{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 70px;
                    }
                    .queue{
                        line-height: 40px;
                        padding: 0 10px;
                        height: 60px;
                        p{
                            height: 35px;
                        }
                        #queueNum{
                            width: 100px;
                            padding: 10px 3px;
                            border-radius: 4px;
                            border: 1px solid #999;
                        }
                        .shopOffer{
                            line-height: 20px;
                        }
                    }
                    .queueTurn0{
                        transform: rotateX(0);
                        transition: linear 300ms;
                        -webkit-transform: rotateX(0);
                        -webkit-transition: linear 300ms;
                    }
                    .queueTurn{
                        transform: rotateX(180deg);
                        transform: translateZ(1);
                        transition: linear 300ms;
                        -webkit-transform: rotateX(180deg);
                        -webkit-transform: translateZ(1);
                        -webkit-transition: linear 300ms;
                    }
                    .unqueue{
                        background: #fff;
                        line-height: 70px;
                        background: #ebf7ff;
                        text-align: center;
                    }
                    .turn{
                        transform: rotateX(180deg);
                        transform: translateZ(-1);
                        transition: linear 300ms;
                        -webkit-transform: rotateX(180deg);
                        -webkit-transform: translateZ(-1);
                        -webkit-transition: linear 300ms;
                    }
                }
                .whoOffer{
                    text-align: left;
                    color: #999;
                }
            }
            
            .btn{
                width: 100%;
                height: 48px;
                line-height: 48px;
                text-align: center;
                background: #3594d1;
                margin-top: 150px;
                color: #fff;
            }
        }
    }
}