*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rega(0, 0, 0, 0);
}
html,
body{
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family:Microsoft YaHei,Tahoma,simsun;
    overflow: hidden;
}
body{
    background: #f5f5f5;
}
.c{
    clear: both;
    width: 0;
    height: 0;
    font-size: 0;
}
.hide{
    display: none;
}
.wrap{
    width: 100%;
    height: 100%;
    
    #loading{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8;
        
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            margin: -25px 0 0 -25px;
            display: block;
        }
    }
    
    #tipsBg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    #tips{
        position: absolute;
        top: 70px;
        left: 10%;
        width: 80%;
        padding: 15px 5px;
        text-align: center;
        background: rgba(0,0,0,.8);
        color: #fff;
        border-radius: 10px;
        opacity: 0;
        z-index: 10;
    }
    
    .main{
        width: 100%;
        transform: translate(0, 0);
        transition: 300ms;
        
        .page{
            position: relative;
            width: 100%;
            
            .pageContent{
                //padding: 5px 10px;
            }
            
            .btn{
               width: 100%;
               background: #3594d1;
               color: #fff;
               padding: 15px 0;
               text-align: center;
            }
            #skip{
                
            }
        }
    }
}
#page0{
    position: relative;
    background: url(../img/setbg.png);
    background-size: 100% 100%;
    
    #OpenDraw{
        position: absolute;
        bottom: 4%;
        left: 7.5%;
        width: 85%;
        background: #fc7837;
        border-radius: 4px;
        margin: 10px 0;
    }
}

#page1{
    .pageContent{
        ul{
           li{
               width: 100%;
               border-bottom: 1px solid #99c4e0;
               padding: 10px 5px;
               table{
                   margin-top: -17px;
                   width: 100%;
                   tr{
                       td{
                           input{
                               padding: 10px 3px;
                               border-radius: 4px;
                               border: 1px solid #999;
                               width: 150px;
                               color: #333;
                           }
                       }
                       .td1{
                           width: 44%;
                       }
                       .td2{
                           //width: 40%;
                       }
                   }
               }
           }
           .bgWhite{
               background: #fff;
           }
           .bgCyan{
               background: #ebf7ff;
           }
        }
    }
    .btn{
        margin: 50px 0 10px 0;
    }
    #skip{
        padding: 15px 0;
        width: 50px;
        text-align: center;
        text-decoration: underline;
        color: #888;
    }
}

#page2{
    .title{
        width: 100%;
        padding: 15px 5%;
        font-size: 1.25em;
        color: #666;
        border-bottom: 1px solid #76c2de;
    }
    
    .pageContent{
        overflow: hidden;
        
        .pcTable{
            padding-bottom: 200px;
            tr{
                td{
                    
                }
            }
        }
        
        table{
            width: 100%;
            tr{
                td{
                    padding: 0 2px 10px 2px;
                }
            }
            .dishTable{
                tr{
                    .td0{
                        width: 13%;
                        text-align: center;
                        img{
                            width: 20px;
                            display: inline-block;
                        }
                    }
                    .td1{
                        
                    }
                    .td2{
                        width: 47%;
                        .iptWrap{
                            position: relative;
                        }
                        input{
                            width: 150px;
                        }
                        ul{
                            position: absolute;
                            right: 0;
                            z-index: 1;
                            width: 160px;
                        }
                    }
                    .bordertop{
                        border-top: 1px solid #76c2de;
                    }
                    .borderbottom{
                        border-bottom: 1px solid #76c2de;
                    }
                    td{
                        background: #ebf7ff;
                        padding-top: 10px;
                        
                        ul{
                            
                            position: absolute;
                            top: 52px;
                            left: 0;
                            width: 100%;
                            
                            li{
                                padding: 5px 0;
                                background: #fff;
                                list-style-type: none;
                                border: 1px solid #aaa;
                                border-bottom: none;
                            }
                            li:first-child{
                                border-top: none;
                            }
                            li:last-child{
                                border-bottom: 1px solid #aaa;
                            }
                        }
                        input{
                            padding: 8px 3px;
                            width: 100%;
                        }
                    }
                }
//              tr:last-child{
//                  td{
//                      border-bottom: 1px solid #76c2de;
//                  }
//              }
            }
            .add{
                padding-left: 0;
                padding-right: 0;
            }
            #addDish{
                width: 100%;
                padding: 15px 0;
                text-align: center;
                border-top: 1px solid #76c2de;
                border-bottom: 1px solid #76c2de;
                color: #666;
                background: #fff url(../img/add.png) 32% center no-repeat;
                background-size: 20px 20px;
            }
        }
    }
    #save{
    }
}
