body {
    background-color: #fafbfd;
    text-align: justify;
    text-justify: distribute;
}

div {
    max-width: 640px;
    margin: auto;
    padding-left: 4px;
    padding-right: 4px;
}

h1 {
    color: #588df5;
    font-size: 22px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 5px;
}

p.h2 {
    color: #588df5;
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-bottom: -8px;
    font-weight: lighter;
}

p.text {
    color: #505050;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 16px;
}

p.ps {
    color: #fa9319;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 26px;
}

p.shop {
    color: #588df5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: -8px;
}

img.shop {
    width: 100%;
}

img.start {
    width: 15px;
    height: auto;
}

img.constellation {
    width: 30px;
    height: auto;
    margin-bottom: -8px;
    padding-right: 3px;
}

span {
    /*color: #588df5;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

h1.korean {
    color: #E5831F;
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 5px;
}

h2.korean {
    color: #588df5;
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-bottom: -8px;
    font-weight: lighter;
}


p.korean.ps {
    color: #ff0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*line-height: 150%;*/
    font-size: 16px;
    font-weight: bold;
}

span.koreanspan {
    color: #ff0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*line-height: 150%;
    font-size: 20px;*/
    font-weight: bold;
}

p.korean {
    color: #EA4F1F;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-bottom: -8px;
    font-weight: lighter;
}

    p.korean.center {
        color: #000000;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }

button.korean {
    background: #EA4F1F;
    color: #ffffff;
    cursor: pointer;
    border-width: 0;
    padding: 3px 3px 3px 3px;
    font-size: 14px;
    border-radius: 4px;
}
