/****************************全局样式*******************************/
body 
{
   background-color:#f1f5fa;
   background-image:url(../images/top.png);
   background-repeat:repeat-x;
   FONT-FAMILY:宋体;
   PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
   color:#707070;
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none;
	
}
LI {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; display:inline;
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
	
}
a {
	TEXT-DECORATION: none;
	color:#707070;
}
a:hover {
	text-decoration: none;
}

a:focus {
	outline: 0;
	color:#B8B8B8;
}
.left
{
    float:left;
}
.right 
{
    float:right;
}
p
{
   color:#707070;
}

/***************************元素样式*******************************/
#wrapper 
{
   background-color:#f1f5fa;
   MARGIN:auto;
   width:960px; 
}
.header 
{
    background-image:url(../images/top.png);
    background-repeat:repeat-x;
    background-color:#f1f5fa;
	MARGIN:auto; 
	WIDTH: 960px;
	POSITION: relative;
	HEIGHT:230px
}
.headerTop
{
   height:40px;
   margin-top:0;
}
.headerTopNavigation
{
    margin:0 10px 0 0;
}
.headerTopNavigation ul
{
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px;
}
.logoa
{
   BACKGROUND-IMAGE: url(../images/logo.png); BACKGROUND-REPEAT: no-repeat;
   margin-top: 70px;
   margin-left:10px;
   display: block;
   width: 330px;
   height: 105px;
}
.nav
{
    background-color:#292929;
    position:absolute;
    bottom:13px;
    right:10px;
    width:500px;
    text-align:center;
}
.nav ul
{
   PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; margin:0;
   height:30px;
   line-height:28px;
}
.nav ul li

{
    display:block;
    float:left;
    width:100px;
    padding-left:5px;
    border-right:1px solid black;
}

.nav a
{
    color:#B8B8B8;
    font-size:20px;
}

/******************实现圆角边框********************/
        b.rtop, b.rbottom
        {
            display: block;
            height:5px;
            background: #ffffff;
        }
        b.rtop b, b.rbottom b
        {
            display: block;
            height: 1px;
            overflow: hidden;
            background: #292929;
        }
        b.r1
        {
            margin: 0 5px;
            height: 2px;
        }
        b.r2
        {
            margin: 0 3px;
            height: 2px;
        }
        b.r3
        {
            margin: 0 2px;
            height: 2px;
        }
        b.rtop b.r4, b.rbottom b.r4
        {
            margin: 0 1px;
            height: 2px;
        }
   /******************实现圆角边框********************/     
.headerBottom
{
   
}
.content
{
    height:400px; 
    width:930px;
  position:relative;    
}


.guanzhu
{
    position:absolute;
    bottom:50px;
    right:10px;
    width:260px;  
}
.company
{
	WIDTH: 960px;
	POSITION: relative;
	margin-top:-30px;
	height:650px;
	margin-bottom:50px;
}
.company ul
{
	HEIGHT:300px
}
.company ul li
{
    display:block;
    width:150px;
    float:left;
    padding:10px;
}
.company a
{
    color:#000000;
}
.footer
{
    margin-top:-10px;
    margin-left:30px;
    WIDTH: 910px;
	POSITION: relative;
	line-height:20px;
}
.copyright
{
   clear: both;
overflow: hidden;
text-align: center;
color: #292929;
font-size:12px;
margin-top:5px;
height:30px;
 border-top:1px solid #D6D8D7;
}
.friendsLinks
{
   clear: both;
overflow: hidden;
text-align: center;
color: #292929;
font-size:12px;
margin-top:5px;
height:20px;
 border-top:1px solid #D6D8D7;
}
/**********************************************验证控件样式****************************************************/
 label.error
{
    background: url("../images/unchecked.gif") no-repeat 0px 0px;
    padding-left: 16px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #EA5200;
}

 label.checked
{
    background: url("../images/checked.gif") no-repeat 0px 0px;
    padding-left: 16px;
    padding-bottom: 2px;
}