* {
  margin: 0;
  padding: 0;
}
html {
  background: #DEDEDE;
  color: #444444;
}
html body {
  margin: 0;
  padding: 0;
  background: #DEDEDE;
  font-size: 12px;
  font-family: "Microsoft YaHei", arial, sans-serif;
}
li {
  list-style-type: none;
}
.c {
  width: 0;
  height: 0;
  font-size: 0;
  clear: both;
}
.fRight {
  float: right;
}
.hide {
  display: none;
}
.txtColorRed {
  color: #f00;
}
/**
 *  悠先登录
 */
#login {
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #f5f2e9;
}
#login #header {
  width: 100%;
  height: 72px;
  background: url('../images/bg_login_header.png') repeat-x;
}
#login #header #text {
  width: 960px;
  margin: 0 auto;
}
#login #header #text .logo {
  text-indent: -9999px;
  float: left;
  line-height: 22px;
  width: 242px;
  height: 66px;
  background: url('../images/logo_viewalloc2.png');
}
#login #header #text .tips {
  text-indent: -9999px;
  float: left;
  width: 108px;
  height: 72px;
  display: block;
  background: url('../images/login_txt.png');
}
#login .containerLogin {
  height: 623px;
  width: 960px;
  margin: 40px auto 0 auto;
  background: url('../images/login_bg.png') center top no-repeat;
}
#login .containerLogin .content {
  width: 312px;
  float: left;
  position: relative;
  left: 600px;
  top: 280px;
}
#login .containerLogin .content input {
  height: 45px;
}
#login .containerLogin .content input .inputtext {
  border: 1px solid #9f9f9f;
  width: 292px;
  height: 39px;
  padding: 0 10px;
  line-height: 38px;
  color: #a4a4a4;
  font-size: 1.3em;
  background-color: #fff;
}
#login .containerLogin .content input[type='submit'] {
  width: 100%;
}
#login .footer {
  padding: 22px 0 54px 0;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #e3d7d3;
}
#login .footer li {
  display: inline-block;
  display: inline;
  padding-right: 15px;
  color: #a9a19b;
}
#login .footer li .en,
#login .footer li .en a,
#login .footer li .en a:visited {
  text-decoration: none;
  color: #a9a19b;
}
/**
 * inc/header.ejs
 */
#blackBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
  display: none;
}
#chooseInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#chooseInfo .chooseMain {
  width: 960px;
  height: 36px;
  margin: 0 auto;
}
#chooseInfo .chooseMain .loginInfo {
  width: 560px;
  padding-left: 10px;
  height: 36px;
  background: url('../images/bg_top_nav_2.jpg') right top no-repeat;
}
#chooseInfo .chooseMain .loginInfo li {
  float: left;
}
#chooseInfo .chooseMain .loginInfo .pic {
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-right: 7px;
}
#chooseInfo .chooseMain .loginInfo .pic img {
  display: block;
}
#chooseInfo .chooseMain .loginInfo .shop {
  width: 360px;
}
#chooseInfo .chooseMain .loginInfo .shop #shopName {
  width: 360px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: normal;
}
#chooseInfo .chooseMain .loginInfo .shop .box {
  display: none;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
#chooseInfo .chooseMain .loginInfo .shop .box #shop1 {
  width: 360px;
  height: 36px;
  line-height: 36px;
}
#chooseInfo .chooseMain .loginInfo .shop .box #shopList {
  width: 360px;
  overflow: hidden;
}
#chooseInfo .chooseMain .loginInfo .shop .box .ac_results {
  background: #fff;
  border: 1px solid #7f9db9;
  z-index: 10000;
  display: none;
}
#chooseInfo .chooseMain .loginInfo .shop .box .ac_results ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#chooseInfo .chooseMain .loginInfo .shop .box .ac_results ul li {
  border: 1px solid #fff;
  width: 100%;
  height: 36px;
  line-height: 36px;
}
#chooseInfo .chooseMain .loginInfo .shop .box .ac_results ul li a {
  white-space: nowrap;
  text-decoration: none;
  display: block;
  color: #05a;
  padding: 1px 3px;
}
#chooseInfo .chooseMain .loginInfo .shop .box .ac_results ul li a span {
  float: right;
}
#chooseInfo .chooseMain .loginInfo .shop .box .ac_results ul li a:hover {
  background: #c8e3fc;
}
#chooseInfo .chooseMain .loginInfo .shop .box .ac_result_tip {
  border-bottom: 1px dashed #666;
  padding: 3px;
}
#chooseInfo .chooseMain .loginInfo .member {
  width: 150px;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  color: #d3ba96;
}
#chooseInfo .chooseMain .loginInfo .member em {
  text-align: center;
  width: 145px;
  float: left;
  height: 36px;
  overflow: hidden;
  padding-left: 5px;
  color: #fff;
}
#tempHeader {
  height: 173px;
  width: 100%;
  min-width: 960px;
  overflow: hidden;
  background: url('../images/bg_header.png') center top no-repeat;
  text-align: center;
}
#tempHeader .containerHeader {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}
#tempHeader .containerHeader .logo {
  width: 242px;
  height: 66px;
  text-indent: -9999px;
  background: url('../images/logo_viewalloc.png');
  margin: 0;
}
#tempHeader .containerHeader .nav {
  clear: both;
  height: 107px;
  width: 100%;
  overflow: hidden;
  background: #68635f url('../images/bg_nav.png') right top no-repeat;
  position: relative;
}
#tempHeader .containerHeader .nav .content li {
  float: left;
  width: 101px;
  height: 107px;
}
#tempHeader .containerHeader .nav .content li a {
  outline: none;
  display: block;
  height: 100%;
  text-indent: -9999px;
  background: url('../images/nav.png') left -107px no-repeat;
}
#tempHeader .containerHeader .nav .content li .item1 {
  background-position: 0 -107px;
}
#tempHeader .containerHeader .nav .content li .item2 {
  background-position: -101px -107px;
}
#tempHeader .containerHeader .nav .content li .item3 {
  background-position: -202px -107px;
}
#tempHeader .containerHeader .nav .content li .item4 {
  background-position: -303px -107px;
}
#tempHeader .containerHeader .nav .content li .item5 {
  background-position: -404px -107px;
}
#tempHeader .containerHeader .nav .content li .item6 {
  background-position: -505px -107px;
}
#tempHeader .containerHeader .nav .content li .item7 {
  background-position: -606px -107px;
}
#tempHeader .containerHeader .nav .content li .item8 {
  background-position: -707px -107px;
}
#tempHeader .containerHeader .nav .content li .item9 {
  background-position: -808px -107px;
}
#tempHeader .containerHeader .nav .content li .item10 {
  background-position: -909px -107px;
}
#tempHeader .containerHeader .nav .content li .item11 {
  background-position: -1010px -107px;
}
#tempHeader .containerHeader .nav .content li a:link,
#tempHeader .containerHeader .nav .content li a img,
#tempHeader .containerHeader .nav .content li a:visited,
#tempHeader .containerHeader .nav .content li a:visited img,
#tempHeader .containerHeader .nav .content li a:active,
#tempHeader .containerHeader .nav .content li a:active img {
  color: #666;
  text-decoration: none;
}
#tempHeader .containerHeader .nav .content .cur a {
  background: url('../images/nav.png') left top no-repeat;
}
#tempHeader .containerHeader .nav .content .cur .item1 {
  background-position: 0 0;
}
#tempHeader .containerHeader .nav .content .cur .item2 {
  background-position: -101px 0;
}
#tempHeader .containerHeader .nav .content .cur .item3 {
  background-position: -202px 0;
}
#tempHeader .containerHeader .nav .content .cur .item4 {
  background-position: -303px 0;
}
#tempHeader .containerHeader .nav .content .cur .item5 {
  background-position: -404px 0;
}
#tempHeader .containerHeader .nav .content .cur .item6 {
  background-position: -505px 0;
}
#tempHeader .containerHeader .nav .content .cur .item7 {
  background-position: -606px 0;
}
#tempHeader .containerHeader .nav .content .cur .item8 {
  background-position: -707px 0;
}
#tempHeader .containerHeader .nav .content .cur .item9 {
  background-position: -808px 0;
}
#tempHeader .containerHeader .nav .content .cur .item10 {
  background-position: -909px 0;
}
#tempHeader .containerHeader .nav .content .cur .item11 {
  background-position: -1010px 0;
}
#tempHeader .containerHeader .nav .content .icon_corner {
  display: block;
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: url('../images/bg_nav_left.png') left -107px no-repeat;
}
#tempHeader .containerHeader .nav .content .icon_corner_hover {
  display: block;
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: url('../images/bg_nav_left.png') left top no-repeat;
}
#tempHeader .loginInfoStaff {
  background-image: url('../images/bg_top_nav_1.jpg');
}
#tempHeader .loginInfoStaff li {
  display: none;
}
/**
 *index
 */
section {
  margin: 0;
  padding: 0;
}
/**
 *mainContent
 */
.mainContent {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 150px;
  background: #fff;
}
.mainContent #mainHeader {
  background-color: #f6f5ea;
  border-bottom: 1px solid #eae8da;
  position: relative;
}
.mainContent #mainHeader .mainHeaderTitle {
  width: 104px;
  height: 28px;
  text-indent: -9999px;
  overflow: hidden;
  background: url('../images/txt.png') -425px -30px no-repeat;
  margin: 20px 0 0 20px;
}
.mainContent #mainHeader .search {
  width: 236px;
  height: 30px;
  border: 1px solid #e7e2c8;
  margin: 20px;
}
.mainContent #mainHeader .search input[type='submit'] {
  width: 46px;
  height: 28px;
  float: left;
  background-color: #faf9ef;
  color: #72645a;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}
.mainContent #mainHeader .search #searchCompanyIpt {
  float: left;
  border: 0;
  width: 188px;
  height: 28px;
  line-height: 28px;
  border-top: 1px solid #f3f3eb;
  border-right: 1px solid #e7e2c8;
  color: #bcb69e;
  padding-left: 15px;
  background-color: #fcfcf9;
}
.mainContent #mainHeader .pageShow {
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}
.mainContent #mainHeader .pageShow .title {
  color: #b6ab91;
  float: left;
  margin: 0;
  height: 28px;
  line-height: 28px;
}
.mainContent #mainHeader .pageShow ul {
  float: left;
  border-bottom: 1px solid #fcfcf8;
  border-right: 1px solid #e7e2c8;
}
.mainContent #mainHeader .pageShow ul li {
  float: left;
  border: 1px solid #e7e2c8;
  overflow: hidden;
  line-height: 28px;
}
.mainContent #mainHeader .pageShow ul li a {
  display: block;
  padding: 0 10px;
  color: #494949;
  background: url('../images/btn_1.png') left -29px repeat-x;
  text-decoration: none;
}
.mainContent #mainHeader .pageShow ul .cur a {
  background-image: none;
  background-color: #faad07;
  border-color: #faad07;
  color: #fff;
  text-decoration: none;
}
.mainContent .mainContentMain {
  padding: 20px;
}
.mainContent .mainContentMain .btns {
  height: 50px;
}
.mainContent .mainContentMain .textLeft {
  text-align: left;
}
.mainContent .mainContentMain .textRight {
  text-align: right;
}
.mainContent .mainContentMain table th {
  background: #949494;
  color: #fff;
  font-weight: normal;
  padding: 15px 0;
}
.mainContent .mainContentMain table th:first-child {
  text-align: left;
  padding-left: 20px;
}
.mainContent .mainContentMain table th:last-child {
  text-align: right;
  padding-right: 20px;
}
.mainContent .mainContentMain table td {
  text-align: center;
  padding: 15px 0;
  text-indent: 1em;
}
.mainContent .mainContentMain table td a {
  color: #444444;
}
.mainContent .mainContentMain table td a i {
  margin-right: 5px;
}
.mainContent .mainContentMain table td a:hover,
.mainContent .mainContentMain table td a:active {
  color: #faad07;
  text-decoration: none;
}
.mainContent .mainContentMain table td button {
  margin-right: 15px;
}
.mainContent .mainContentMain .checkStatus0 {
  color: #f00;
}
.mainContent .mainContentMain .checkStatus1 {
  color: #080;
}
.mainContent .mainContentMain .pagination {
  margin: 0;
}
.mainContent .mainContentMain .pagination a {
  text-decoration: none;
  margin-right: 10px;
}
.mainContent .mainContentMain .pagination .active a {
  background-color: #faad07;
  border-color: #faad07;
}
.mainContent .mainContentMain .pagination .active:hover a,
.mainContent .mainContentMain .pagination .active:active a {
  color: #444444;
}
/**
 *公司管理 companyManage
 */
.companyManage #companyManageTitle {
  background-position: -425px -30px !important;
  margin-bottom: 15px !important;
}
/**
 * 公司管理 - 修改 modify
 */
.modify #modifyTitle {
  background-position: -116px -181px !important;
  margin-bottom: 15px !important;
}
.modify table td:first-child {
  text-align: right;
  width: 130px;
}
.modify table td:last-child {
  text-align: left;
}
/**
 *新增公司 addCompany
 */
.addCompany #addCompanyTitle {
  background-position: -239px -181px !important;
  margin-bottom: 15px !important;
}
.addCompany .mainContentMain table td {
  text-align: left;
}
.addCompany .mainContentMain table td .btn {
  margin-right: 15px;
}
.addCompany .mainContentMain table td:first-child {
  width: 110px;
  text-align: right;
}
/**
 *设置佣金  commisssion
 */
.commisssion #commisssionTitle {
  background-position: -370px -181px !important;
  margin-bottom: 15px !important;
}
.commisssion .mainContentMain table td {
  text-align: left;
}
.commisssion .mainContentMain table td .btn {
  margin-right: 15px;
}
.commisssion .mainContentMain table td:first-child {
  width: 130px;
  text-align: right;
}
/**
 *银行账号 banks 设置菜谱  menus
 */
.banks #banksTitle {
  background-position: 0 -215px !important;
  margin-bottom: 15px !important;
}
.menus #menusTitle,
.banks #menusTitle {
  background-position: -116px -215px !important;
  margin-bottom: 15px !important;
}
.menus .mainContentMain .btns a:last-child,
.banks .mainContentMain .btns a:last-child {
  margin-right: 10px;
}
.menus .mainContentMain table th,
.banks .mainContentMain table th {
  text-align: center !important;
  border-right: 1px solid #eee;
}
.menus .mainContentMain table th:last-child,
.banks .mainContentMain table th:last-child {
  border: none;
}
.menus .mainContentMain table td,
.banks .mainContentMain table td {
  text-align: center;
  border-right: 1px solid #eee;
}
.menus .mainContentMain table td:last-child,
.banks .mainContentMain table td:last-child {
  border: none;
}
/**
 * 添加账户 account
 */
.account #accountTitle,
.setmenu #accountTitle {
  background-position: 0px -215px !important;
  margin-bottom: 15px !important;
}
.account #setmenuTitle,
.setmenu #setmenuTitle {
  background-position: -116px -247px !important;
  margin-bottom: 15px !important;
}
.account table td:first-child,
.setmenu table td:first-child {
  text-align: right;
}
.account table td:last-child,
.setmenu table td:last-child {
  text-align: left;
}
/**
 * 店铺管理 shop
 */
.shop #shopTitle {
  background-position: 0px -181px !important;
  margin-bottom: 15px !important;
}
.shop table th {
  text-align: center;
}
/*# sourceMappingURL=cashment.css.map */
