/* CSS Document */

/*** Y.Base - select  ***/

#shop .tag_select{
	display: block;
	width: 185px;
	height: 37px;
	padding-left:18px;
	line-height: 38px;
	color: #6f4400;
	font-size: 18px;
	cursor: pointer;
	background: transparent url("../images/arrow2.png") no-repeat 172px -20px;
	background-color:#e2b01f;
}
#shop .tag_select_hover{
	color: #ff0000;
}
#shop .tag_select_open{
	background-position:172px 17px;
}
#shop ul.tag_options{
	position: absolute;
	margin: 0;
	list-style: none;
	background: #e8b524;
	padding: 0 0 1px;
	margin: 0;
	width:203px;
	height: 0;
	overflow: hidden;
	font-size: 12px;
	cursor: pointer;
	z-index: 1000;
	opacity: 0;
}
#shop ul.tag_options li{
	background: #e8b524;
	display: block;
	width: 100%;
	padding: 0 10px 0 18px;
	height: 37px;
	text-decoration: none;
	line-height: 37px;
	color: #6f4400;
	font-weight: normal;
	font-size: 18px;
	font-family:"Microsoft YaHei",arial;
}
#shop ul.tag_options li.open_hover{
	background: #ebddb2;
	color: #000;
	font-weight: normal;
	font-size: 18px;
}
#shop ul.tag_options li.open_selected{
	background: #ccc;
	font-size: 18px;
}


#companyName .tag_select{
	display: block;
	width: 157px;
	height: 37px;
	line-height: 38px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
	background: transparent url("../images/arrow3.png") no-repeat 125px -20px;
}
#companyName .tag_select_hover{
	color: #ff0000;
}
#companyName .tag_select_open{
	background-position:125px 17px;
}
#companyName ul.tag_options{
	position: absolute;
	*left:0;
	opacity: 0;
	margin: 0;
	list-style: none;
	background: #6b432a;
	padding: 0 0 1px;
	margin: 0;
	width:157px;
	height: 0;
	overflow: hidden;
	font-size: 12px;
	cursor: pointer;
	z-index: 1001;
}
#companyName ul.tag_options li{
	background: #6b432a;
	display: block;
	width: 100%;
	padding: 0 10px 0 0px;
	height: 38px;
	text-decoration: none;
	line-height: 38px;
	color: #ffffff;
	font-weight: normal;
	font-size: 14px;
	font-family:"Microsoft YaHei",arial;
}
#companyName ul.tag_options li.open_hover{
	background: #ebddb2;
	color: #000;
	font-weight: normal;
	font-size: 14px;
}
#companyName ul.tag_options li.open_selected{
	background: #ccc;
	font-size: 14px;
}

.yui3-panel {
    outline: none;
	outline-style: none;
}
#panelContainer{
	-webkit-box-shadow: 0px 0px 2px black;
    -moz-box-shadow: 0px 0px 2px black;
    box-shadow: 0px 0px 2px black;
	
	background-color:#ffffff;
	width:364px;
	min-height:207px!important;
	height:207px;
	height:auto!important;
	font-size:18px;
	font-family:"Microsoft YaHei",arial;
	text-align:center;
}
#panelContainer .yui3-widget-hd {
    font-weight: bold;
	height:50px;
	line-height:50px;
	background:url('../images/bg_popup_header.png') left top repeat-x;
	color:#ffffff;
}
#panelContainer .yui3-widget-bd {
    padding: 15px;
    background: white;
    text-align: center;
	padding-top:20px;
	min-height:107px!important;
	height:107px;
	height:auto!important;
	font-size:14px;
	overflow-y:auto;
	overflow-x:hidden;
}
#panelContainer.yui3-widget-loading {
    display: none;
}
.yui3-widget-mask {
    background-color: #2c2a29;
    opacity: 0.6;
    filter:alpha(opacity=60);
}


#panelContainer .yui3-widget-ft{
	height:50px;
	line-height:50px;
	background-color:#fafafa;
	text-align:center;
	border-top:1px solid #b8b8b8;
}
#panelContainer .yui3-widget-ft .yui3-button{
	margin-top:12px;
	margin-right:6px;
	margin-left:6px;
	padding: 0.6em 2em 0.65em;
	font-size:12px;
}
	/* 编辑权限表格展示 */
#panelContainer .yui3-widget-bd  table.t{
	width:100%;
	position:relative;
}
#panelContainer .yui3-widget-bd  table.t td{
	border:1px solid #b8b8b8;
	height:25px;
	line-height:25px;
}
#panelContainer .yui3-widget-bd #loginSyb{
	text-align:left;
	height:35px;
}
#panelContainer .yui3-widget-bd #loginSyb .inputRadio{
	margin-left:12px;
	margin-right:3px;
}
#panelContainer .yui3-widget-bd #hasSybSMS{
	padding-left:16px;
	text-align:left;
	height:35px;
}
#panelContainer .yui3-widget-bd #hasSybSMS .inputRadio{
	margin-left:12px;
	margin-right:3px;
}
#panelContainer .yui3-widget-ft .yui3-button{
    background-color:#ffffff;
    filter: alpha(opacity=100);
}


/** 表格数 - 单元格 **/

.dataTable .yui3-datatable-even{ 
	background-color:#f3f3f3;
}
.dataTable .yui3-datatable-odd { 
	background-color:#ffffff;
}

#dataTable .yui3-datatable-col-preOrder19dianId{ 
	width:80px;
}
.yui3-datatable-col-queryTime{ 
	width:172px;
}
.yui3-datatable-col-preOrderServerSum{ 
	width:134px;
}
.yui3-datatable-col-prePaidSum{ 
	width:134px;
}
.yui3-datatable-col-invoiceTitle{ 
	width:134px;
	overflow:hidden;
	word-break:break-all;
	word-wrap:break-word;
}
.yui3-datatable-col-isStatus{ 
	width:90px;
}
.yui3-datatable-col-btn{ 
	width:155px;
}


.yui3-datatable-col-couponName{ 
	width:208px;
}
.yui3-datatable-col-couponDesc{
	width:270px;
}
.yui3-datatable-col-GrantingDate{ 
	width:108px;
}
.yui3-datatable-col-provided,
.yui3-datatable-col-used,
.yui3-datatable-col-recovery{ 
	width:77px;
}
.yui3-datatable-col-sumAmount{
	width:108px;
}

.yui3-datatable-col-btnNote{ 
	width:95px;
}

.contentContainer .comfirmed .dataTable thead th{
	_color:#ff00ff;
}

/* 收银审核 */
.comfirmed .yui3-datatable-col-btn{ 
	width:237px;
}
.comfirmed .yui3-datatable-col-prePaidSum,
.comfirmed .yui3-datatable-col-preOrderServerSum,
.comfirmed .yui3-datatable-col-invoiceTitle{
	width:85px;
	overflow:hidden;
	word-break:break-all;
	word-wrap:break-word;
}


/* 账户详细 */
.dataContainer .accountDetail .yui3-datatable-col-id{ 
	width:132px;
}
.dataContainer .accountDetail .yui3-datatable-col-Btime,
.dataContainer .accountDetail .yui3-datatable-col-accountTypeName,
.dataContainer .accountDetail .yui3-datatable-col-pay,
.dataContainer .accountDetail .yui3-datatable-col-payd,
.dataContainer .accountDetail .yui3-datatable-col-btn{ 
	width:156px;
}
.dataContainer .accountDetail .btn{ 
	position:relative;
	left:45px;
}

/** 沽清管理  **/
.selloffEditor .yui3-datatable-col-DishName{ 
	width:142px;
}
.selloffEditor .yui3-datatable-col-ScaleName,
.selloffEditor .yui3-datatable-col-DishPrice,
.selloffEditor .yui3-datatable-col-btn{ 
	width:92px;
}



/** 菜品管理 **/
.dataContainer .dataSprite .dataTable table th{
	width:auto;
}
.dishList .dataContainer .dataSprite .dataTable table td{
	text-align:center;
	padding:0px;
}
.dishList .yui3-datatable-col-imageurl{ 
	width:67px;
	padding:0;
}

.dishList .yui3-datatable-col-DishName{
	width:315px;
}
.dishList .yui3-datatable-col-dishTypeList{ 
	/*width:150px;*/
}
.dishList .yui3-datatable-col-dishPriceList,
.dishList .yui3-datatable-col-dishScaleList{ 
	width:100px;
}

.dishList .yui3-datatable-col-btn{ 
	width:100px;
}



.yui3-datatable-col-eCardNumber,
.yui3-datatable-col-useTime,
.yui3-datatable-col-preOrder19dianId,
.yui3-datatable-col-preOrderSum,
.yui3-datatable-col-btn{ 
	width:184px;
}
.couponUsed .btn{
	position:relative;
	left:64px;
}

.txt-tips-sprite{
	position:aboslute;
	left:0;
	top:2px;
	height:1px;
	width:100%;
}
.txt-tips{
	display:none;
	position:absolute;
	left:0;
	top:-35px;
	z-index:1;
	font-style:normal;
	font-weight:bold;
	color:#ff0000;
	width:205px;
	height:56px;
	font-size:12px;
	background-image:url('../images/bg_popup2.png');
	background-repeat:no-repeat;
	line-height:38px;
	text-indent:20px;
	border-bottom:0px solid #59514d;
	border-radius:3px;
}

.companylist .yui3-datatable-col-companyName{
    width:163px;
}
.companylist .yui3-datatable-col-companyCommission,
.companylist .yui3-datatable-col-companyAccount,
.companylist .yui3-datatable-col-companyMenu{
    width:182px;
}
.companylist .yui3-datatable-col-btn{
    width:193px;
}

.companylist .yui3-datatable-col-companyName{
    width:163px;
}

.companybanklist .yui3-datatable-col-accountNum,
.companybanklist .yui3-datatable-col-accountName,
.companybanklist .yui3-datatable-col-bankName,
.companybanklist .yui3-datatable-col-remark,
.companybanklist .yui3-datatable-col-payeeBankName{
    width:196px;
}
.companybanklist .yui3-datatable-col-btn{
    width:110px;
}

.companymenulist .yui3-datatable-col-menuName{
    width:249px;
}
.companymenulist .yui3-datatable-col-menuDes{
    width:409px;
}
.companymenulist .yui3-datatable-col-menuVersion{
    width:200px;
}
.companymenulist .yui3-datatable-col-btn{
    width:150px;
}

.shoplist .yui3-datatable-col-shopName,
.shoplist .yui3-datatable-col-companyName,
.shoplist .yui3-datatable-col-shopsundrymanage,
.shoplist .yui3-datatable-col-shopimagerevelation,
.shoplist .yui3-datatable-col-shopvipdicount,
.shoplist .yui3-datatable-col-btn{
    width:150px;
}
#shopManageList .yui3-datatable-col-shopName,
#shopManageList .yui3-datatable-col-companyName,
#shopManageList .yui3-datatable-col-shopsundrymanage,
#shopManageList .yui3-datatable-col-shopimagerevelation,
#shopManageList .yui3-datatable-col-shopvipdicount,
#shopManageList .yui3-datatable-col-btn{
    width:auto;
}
.shophandle .yui3-datatable-col-shopName,
.shophandle .yui3-datatable-col-companyName,
.shophandle .yui3-datatable-col-handleStatus{
    width:235px;
}
.shophandle .yui3-datatable-col-btn{
    width:195px;
}

.shopsundrylist .yui3-datatable-col-sundryName,
.shopsundrylist .yui3-datatable-col-status{
    width:373px;
}
.shopsundrylist .yui3-datatable-col-btn{
    width:150px;
}
.shopdiscountlist .yui3-datatable-col-name,
.shopdiscountlist .yui3-datatable-col-discount,
.shopdiscountlist .yui3-datatable-col-platformVipName{
    width:253px;
}
.shopdiscountlist .yui3-datatable-col-btn{
    width:150px;
}

.quick-nav{
    width: 150px; 
    height: 34px; 
    z-index: 1000; 
    overflow: visible; 
    position: absolute; 
    right:0px;
    top: 1536px;
    line-height:34px;
    overflow:hidden;
    display:none;
}
.quick-nav ul{
    position:absolute;
    right:-125px;
    width:125px;
    background:transparent url('../images/icon_quick_nav.png') left top no-repeat;
    padding-left:25px;
}
.quick-nav ul li{
    float:left;
    text-align:left;
    padding-left:10px;
}
.quick-nav a,
.quick-nav a:visited{
    font-size:12px;
    color:#965d03;
    
}
*+html .customerSprite{
    width:38px;
}/*#6b432a*/
/*#companyName{ position:relative;}
.chosen-container{ position:absolute; width:250px!important; top:0px; left:0px;}
.chosen-container .chosen-results li{ display:block!important; font-size:12px; width:100%; text-align:left;}
.chosen-container{ background-color:#6b432a;}
.chosen-single{ background:none!important; outline:none!important; border:0!important; box-shadow:none!important; height:38px!important; line-height:38px!important; }
.chosen-single b{ background-position:0px 10px!important;}
.chosen-single{ color:#fff!important;}*/