<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ncombo" type="NCombo.NComboSectionHandler,NCombo"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.webServer>
    <modules>
      <add name="SybUserModule" type="SybUserModule" />
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web"/>
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web"/>
    </modules>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="axd" path="*.axd" verb="*" modules="IsapiModule" scriptProcessor="c:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ncombo" verb="GET" path="ncombo.axd" type="NCombo.ComboHandler, NCombo"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <authentication mode="Windows"/>
    <!--<httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="*.jpg" verb="*" type="ImageHandler" />
      <add verb="GET" path="ncombo.axd" type="NCombo.ComboHandler, NCombo" />
    </httpHandlers>-->
    <!--<httpModules>
      <add name="SybUserModule" type="SybUserModule" />
    </httpModules>-->
    <pages theme="Blue">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Printing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
    <!--增加系统上传大小限制-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2048500"/>
    <!--设置session超时时间，单位分钟-->
    <sessionState mode="InProc" timeout="300"/>
  </system.web> 
  <connectionStrings>
    <!--本地服务器11，220-->
    <add name="VAMsjConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bW0y2EYOavc2URZkxYQtiLUgElmpgwdBolV7JBXDyGQ7pKv+i7GxYxvpCdylWTJW7PiyO4kWzcf3Y6SCh3gPuuc7ngL+vEQ/LGW3UxVHhc9M=" providerName="System.Data.SqlClient"/>
    <add name="NotificationConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bwahBjO2StC0RLeSU2kEAnQaGxxwMW7Rw++uTn3xzDASyinQnJVGPs6JYorkBzW7198+8Elmk2OQ0kL+vR0WDHh+7SrQstjq+8D6XdWgiF/E=" providerName="System.Data.SqlClient"/>
    <!--创建员工操作日志数据库记录链接-->
    <add name="MobileAppLogConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bW0y2EYOavc0Gc+99XO3X46fhlJYbWHTqGK31ehW72OKDOzYAKxuxUp4T68XeMLqn1CMw0JpyzykvAUYHQIF9lkQE/lZJCY1NnsloxAPu5vk=" providerName="System.Data.SqlClient"/>
    <!--创建报表统计数据库记录链接-->
    <add name="StatisticsStatementsConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bFBcSfAplMSJsdgn7TOe1Tzw93TZAT6LIQfa/4rZLnX5fWKmQlshUsEMBGOuEhmA/zIAh9q4FsASgvWtMOmNvnh+U1VLKgbos9ytQNcAxikEUEeC71HPTbw==" providerName="System.Data.SqlClient"/>
    <!--奖品数据库-->
    <add name="AwardConnectionString" connectionString="Server=112.124.0.220,1833;Database=VAAward;User ID=sa;Password=viewalloc;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <!--外网-->
    <!--<add name="StatisticsStatementsConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bFBcSfAplMSJsdgn7TOe1Tzw93TZAT6LIQfa/4rZLnX5fWKmQlshUsEMBGOuEhmA/zIAh9q4FsAS1bxJ8T6M87OqyOSs0jpkOOvPKQd1JAq4GvxpnLeyKqu+yF3VE4Wg2" providerName="System.Data.SqlClient" />-->
    <!--服务器61.129.32.122:13363 viewalloc-->
    <!--<add name="VAMsjConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bW0y2EYOavc2URZkxYQtiLUgElmpgwdBolV7JBXDyGQ7pKv+i7GxYxvpCdylWTJW7kquO4/v/VGLXhlT8Hg7cQI3OX2q/6Pi83XRsVnJqQxYrV/QhgEke2w==" providerName="System.Data.SqlClient" />
    <add name="NotificationConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bwahBjO2StC0RLeSU2kEAnQaGxxwMW7Rw++uTn3xzDASyinQnJVGPs6JYorkBzW71o2gau3jNTODGwtiLols/u1dxg3o2/2ZueXoT3VPXzsMsXxUrqb5xkQ==" providerName="System.Data.SqlClient" />-->
    <!--创建员工操作日志数据库记录链接-->
    <!--<add name="MobileAppLogConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bW0y2EYOavc0Gc+99XO3X46fhlJYbWHTqGK31ehW72OKDOzYAKxuxUp4T68XeMLqnmHar6NWjZQznrHniietqHYatdOYldcHiwjBqUqrZ1wx+mJOJNf/LWg==" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="Debug" value="false"/>
    <add key="debugInfo" value="true"/>
    <!--VAmsg页面是否记录响应时间超过1秒的请求-->
    <add key="timeOutDebug" value="true"/>
    <add key="19dianDataSource" value="Data Source=112.124.0.220,1833;"/>
    <add key="NotificationDataSource" value="Data Source=112.124.0.220,1833;"/>
    <add key="MobileAppLogDataSource" value="Data Source=112.124.0.220,1833;"/>
    <add key="StatisticsStatementsDataSource" value="Data Source=112.124.0.220,1833;"/>
    <add key="AwardDataSource" value="Data Source=.;"/>
    
    <!--<add key="19dianDataSource" value="Data Source=112.124.0.220,1833;"/>
    <add key="NotificationDataSource" value="Data Source=112.124.0.220,1833;"/>
    <add key="MobileAppLogDataSource" value="Data Source=112.124.0.220,1833;"/>
    <add key="StatisticsStatementsDataSource" value="Data Source=112.124.0.220,1833;"/>-->

    <!--<add key="19dianDataSource" value="Data Source=192.168.5.22;"/>
    <add key="NotificationDataSource" value="Data Source=192.168.5.22;"/>
    <add key="MobileAppLogDataSource" value="Data Source=192.168.5.22;"/>
    <add key="StatisticsStatementsDataSource" value="Data Source=192.168.5.22;"/>-->

    <!--<add key="19dianDataSource" value="Data Source=192.168.1.11;" />
    <add key="NotificationDataSource" value="Data Source=192.168.1.11;" />
    <add key="MobileAppLogDataSource" value="Data Source=192.168.1.11;" />
    <add key="StatisticsStatementsDataSource" value="Data Source=192.168.1.11;"/>-->
    <!--<add key="19dianDataSource" value="Data Source=42.121.124.112,1833;"/>
    <add key="NotificationDataSource" value="Data Source=42.121.124.112,1833;"/>
    <add key="MobileAppLogDataSource" value="Data Source=142.121.124.112,1833;" />-->
    <!--DataSource的ip地址后面有";"格式为："Data Source=192.168.1.10;"-->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>
    <add key="extension" value=".jpg|.gif|.png"/>
    <!--图片存放服务器地址和路径-->
    <add key="Server" value="http://112.124.0.220,1833/"/>
    <!--<add key="Server" value="http://192.168.1.11"></add>-->
    <!--<add key="Server" value="http://viewalloc.com"></add>-->
    <add key="ImagePath" value="UploadFiles/Images/"/>
    <!--忘记密码处发送验证邮件的邮箱已经密码-->
    <add key="Smtp" value="smtp.qq.com"/>
    <add key="ForgetEmailAddress" value="public@viewalloc.com"/>
    <add key="ForgetEmailAddressPassword" value="va28331560"/>
    <!--短信平台用户名密码-->
    <add key="SmsUid" value="youluo"/>
    <add key="SmsPwd" value="youluo"/>
    <add key="SmsContent" value="{0}【悠先验证码】"/>
    <!--官网手机版发送给用户的短信内容-->
    <add key="SmsDownloadLink" value="悠先点菜iPhone版下载链接：http://url.cn/SNpLTM ；悠先点菜Android版下载链接：http://url.cn/K7H3LA ；悠先服务Android版下载链接：http://url.cn/Kbn9DH "/>
    <!--亿美短信软件序列号-->
    <add key="softwareSerialNo" value="3SDK-EMY-0130-JDQQO"/>
    <add key="key" value="viewalloc776637"/>
    <!--建周短信软件序列号-->
    <add key="jianzhouSerialNo" value="sdk_youxian"/>
    <add key="jianzhoukey" value="28331560"/>
    <!--漫道短信软件序列号-->
    <add key="mandaoSerialNo" value="SDK-BBX-010-21781"/>
    <add key="mandaokey" value="E72C62C5BAA39F691E80836772E0CEAD"/>

    <!--字符编码，默认为"GBK"-->
    <add key="srcCharset" value="GBK"/>
    <!--短信等级，范围1~5，数值越高悠先级越高-->
    <add key="smsPriority" value="5"/>
    <!--序列号密码-->
    <add key="serialpass" value="410213"/>
    <!--短信平台厂家:Guodu/Yimei-->
    <add key="SmsType" value="Jianzhou"/>
    <!--微博分享内容-->
    <add key="preorder_sina" value="我在@{0} 分享了@{1} 的点单{2}"/>
    <add key="preorder_qq" value="我在@{0} 分享了@{1} 的点单{2}"/>
    <add key="preorder_wx" value="我在@{0} 分享了{1} 的点单{2}"/>
    <add key="coupon_sina" value="我在@{0} 分享了@$$ 的优惠劵$$"/>
    <add key="coupon_qq" value="我在@{0} 分享了@$$ 的优惠劵$$"/>
    <add key="coupon_wx" value="我在@{0} 分享了$$ 的优惠劵$$"/>
    <add key="preorder_share_prompt" value="转发微博并@3位好友即可获取额外抽奖机会"/>
    <add key="openId_bind_sina" value="我在@{0} 使用了吃货神器，推荐给大家！http://www.viewalloc.com"/>
    <add key="openId_bind_qq" value="我在@{0} 使用了吃货神器，推荐给大家！http://www.viewalloc.com"/>
    <add key="openId_bind_wx" value="我在@{0} 使用了吃货神器，推荐给大家！http://www.viewalloc.com"/>
    <add key="openId_bind_share_prompt" value="转发微博并@4位好友即可获取额外抽奖机会"/>
    <add key="app_install_sina" value="我在@{0} 安装了吃货神器，推荐给大家！http://www.viewalloc.com"/>
    <add key="app_install_qq" value="我在@{0} 安装了吃货神器，推荐给大家！http://www.viewalloc.com"/>
    <add key="app_install_wx" value="我在@{0} 安装了吃货神器，推荐给大家！http://www.viewalloc.com"/>
    <add key="app_install_share_prompt" value="转发微博并@5位好友即可获取额外抽奖机会"/>
    <add key="mySinaWeibo" value="悠先点菜"/>
    <add key="myQQWeibo" value="youxiandiancai"/>
    <add key="myWechat" value="悠先"/>
    <!--微信图片名称,微信会缓存同名图片,具体时间不详,因此修改图片时需要更改名称-->
    <add key="wechatTitlePic1" value="wechatTitle1.png"/>
    <add key="wechatTitlePic2" value="wechatTitle2.png"/>
    <add key="wechatTitlePic3" value="wechatTitle3.png"/>
    <add key="wechatTitlePic3" value="wechatTitle4.png"/>
    <add key="wechatTitleName1" value="微信客户端，先点先吃"/>
    <add key="wechatTitleName2" value="微信客户端，历时点单"/>
    <add key="wechatTitleName3" value="手机客户端，更强功能，更爽体验"/>
    <add key="wechatURL1" value="http://viewalloc.com/apppages/default.aspx?wechatopenid="/>
    <add key="wechatURL2" value="http://viewalloc.com/apppages/historyorder.aspx?wechatopenid="/>
    <add key="wechatURL3" value="http://viewalloc.com/appdownload.aspx"/>
    <add key="wechatRecommendShop" value="http://viewalloc.com/apppages/RecommendShopInfo.aspx"/>
    <add key="wechatHotMenu" value="http://viewalloc.com/apppages/HotMenuInfo.aspx"/>
    <!--下载页面URL-->
    <add key="appdownloadURL" value="http://192.168.1.64:808/appdownload.aspx"/>
    <add key="wechatRecommendShop" value="http://viewalloc.com/apppages/RecommendShopInfo.aspx"/>
    <add key="wechatHotMenu" value="http://viewalloc.com/apppages/HotMenuInfo.aspx"/>
    <!--水印文字的字体大小-->
    <add key="Font-Size" value="15"/>
    <!--菜单文件压缩密码-->
    <add key="menuFileZipPassword" value="viewalloc@meishidiandian"/>
    <!--银行名称（2013-7-11，wangcheng）-->
    <add key="bankName" value="中国银行,农业银行,商业银行,工商银行,招商银行,建设银行,交通银行"/>
    <!--银联公私钥路径-->
    <add key="PrivatePath" value="D:\\unionpayPrivate.p12"/>
    <add key="FrontPublicPath" value="D:\\unionpayPublic.cer"/>
    <!--财付通证书-->
    <add key="CertInfoPath" value="D:\\1218239601_20140317151202.pfx"/>
    <!--支持银联支付-->
    <add key="isUnionPay" value="false"/>
    <!--收银宝商家退款成功推送提示信息-->
    <add key="sybRefundMessage" value="您好，{0}已成功退款{1}元到您的悠先账户中，请注意查看"/>
    <!--悠先服务积分链接-->
    <add key="shoppingMallURL" value="http://112.124.0.220,1833/PointsManage/index.aspx?c={0}&amp;t={1}"/>
    <!--服务条款页面-->
    <add key="serviceURL" value="http://112.124.0.220,1833/apppages/manual/service.html"/>
    <!--引导说明页面-->
    <add key="guideURL" value="http://112.124.0.220,1833/apppages/manual/guide.html"/>
    <!--faq页面-->
    <add key="faqURL" value="http://112.124.0.220,1833/apppages/manual/faq.html"/>
    <!--反馈页面-->
    <add key="feedbackURL" value="http://112.124.0.220,1833/apppages/manual/feedback.aspx?c={0}"/>
    <!--功能介绍页面-->
    <add key="introductionUrl" value="http://112.124.0.220,1833/apppages/manual/introduction.html"/>
    <!--官网手机版发送给用户的短信内容-->
    <add key="SmsDownloadLink" value="悠先点菜: http://url.cn/QmsFSL; 悠先服务: http://url.cn/QVUVek"/>
    <!--投诉页面-->
    <add key="complaintURL" value="http://112.124.0.220,1833/apppages/manual/complaint.aspx?p={0}"/>
    <!--评价推送内容-->
    <add key="evaluationNotificationMsg" value="恭喜您的点单已经入座成功!你还可以评价分享赚免单哦~"/>
    <!--门店服务员接收支付点单短信提醒-->
    <add key="payOrderMessage" value="{0}收到{1}元支付订单"/>
    <!--微信out_trade_no前缀-->
    <add key="wechatPrefix" value="vayou"/>
    <!--11:vat-->
    <!--阿里云OSS访问地址及ID对-->
    <!--外网-->
    <add key="ossEndPoint" value="http://oss-cn-hangzhou.aliyuncs.com/"/>
    <!--http://image220.u-xian.com-->
    <!--内网-->
    <!--<add key="ossEndPoint" value="http://oss-cn-hangzhou-internal.aliyuncs.com"/>-->
    <add key="ossAccessID" value="PuuvkCXeokp2UcFU"/>
    <add key="ossAccessKey" value="XC631KP9zGMn4S8AHFOPfJwXqW7MjD"/>
    <!--Bucke名字，区分正式与测试-->
    <add key="ossBucket" value="uxian-test"/>
    <!--应用OSS后新域名-->
    <add key="ossDomain" value="http://uxian-test.oss-cn-hangzhou.aliyuncs.com/"/>
    <add key="cdnDomain" value="http://image220.u-xian.com/"/>
    <!--云存储方式-->
    <add key="cloudStorageMode" value="aliyun"/>
    <!--图品存放根目录-->
    <add key="UploadFiles" value="UploadFiles/"/>
    <!--平台VIP图片拼接路径-->
    <add key="VipImg" value="VipImg/"/>
    <!--官网图片拼接路径-->
    <add key="webImages" value="web/images/"/>
    <!--文件暂存文件夹-->
    <add key="temp" value="UploadFiles/temp/"/>
    <!--积分商城商品拼接路径-->
    <add key="Goods" value="UploadFiles/Images/Goods/"/>
    <add key="shopImg" value="ShopImage/"/>
    <!--店铺二维码拼接路径-->
    <add key="QRCodeImage" value="QRCodeImage/"/>
    <!--广告路径-->
    <add key="Advertisement" value="Advertisement/"/>
    <!--公司勋章路径-->
    <add key="CompanyMedalImage" value="CompanyMedalImage/"/>
    <!--门店勋章路径-->
    <add key="ShopMedalImage" value="ShopMedalImage/"/>
    <!--客户端出错日志通知邮件-->
    <add key="ClientErrorEmailAddressTo" value="jing.li@u-xian.com;yurun.hu@u-xian.com;jason.xiao@u-xian.com"/>
    <add key="foodDiaries" value="{0}的美食日记{1}"/>
    <add key="MenuUpdateServiceAddress" value="net.tcp://127.0.0.1:6666/MenuService"/>
    <!--菜图最小宽度及高度，配置时请注意宽高比为4:3-->
    <add key="dishImageWidth" value="960"/>
    <add key="dishImageHeight" value="720"/>
    <!--菜图大小：KB，不应超过此参数-->
    <add key="dishImageSpace" value="1024"/>
    <!--Banner图大小：KB，不应超过此参数-->
    <add key="bannerSpace" value="1024"/>
    <!--门脸图大小：KB，不应超过此参数-->
    <add key="shopFaceSpace" value="500"/>
    <!--门店Logo图大小：KB，不应超过此参数-->
    <add key="shopLogoSpace" value="300"/>
    <!--门店环境大小：KB，不应超过此参数-->
    <add key="shopEnvironmentSpace" value="1024"/>
    <!--支付宝退款异步通知页面-->
    <add key="refundNotifyUrl" value="http://112.124.0.220,1833/alirefundnotify.aspx"/>
    <!--用户红包上限金额-->
    <add key="maxRedEnvelope" value="30"/>
    <!--用户解锁红包体力限制-->
    <add key="RedEnvelopePower" value="3"/>
    <!--宝箱解锁后推送内容-->
    <add key="RedEnvelopePush" value="恭喜!小伙伴太给力,你的大宝箱完全解锁,{0}元已入账,快去查看悠先红包。"/>
    <!--宝箱解锁后短信内容-->
    <add key="RedEnvelopeMessage" value="【手机点菜,就用悠先】恭喜!小伙伴太给力,你的大宝箱完全解锁,{0}元已入账,快去查看（http://u-xian.com/）"/>
    <!--节日免单红包金额区间，概率配置-->
    <add key="RedEnvelopeRange" value="50, 60, 70, 80, 90, 100"/>
    <add key="RedEnvelopeScale" value="0, 50, 70, 80, 90, 100"/>
    <!--memcached分布式缓存服务器ip地址和端口配置信息，多个服务器“,”隔开-->
    <!--<add key="MemcachedServiceAddress" value="192.168.5.21:11211,192.168.1.20:11211,192.168.1.11:11211"/>-->
    <!--<add key="MemcachedServiceAddress" value="192.168.5.21:11211,127.0.0.1:11211"/>-->
    <add key="MemcachedServiceAddress" value="112.124.0.220,1833:11211"/>
    <!--年夜饭配置-->
    <add key="MealOrderNameDesc" value="年夜饭"/>
    <add key="MealOrderSmsReminderContent" value="您预订的{0}-{1}-{2}元套餐订单已成功付款，{0}将在24小时内与您确认订单。【悠先点菜】"/>
    <!--正式true/测试false 模式，测试模式下，只会将消息发给测试设备-->
    <add key="UmengProductionMode" value="false"/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <ncombo baseDir="~/yui/" cacheDir="~/yui/cache/"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
        <binding name="BusinessServiceServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sdk.entinfo.cn:8061/webservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
          contract="MandaoService.WebServiceSoap" name="WebServiceSoap" />
      <endpoint address="http://www.jianzhou.sh.cn/JianzhouSMSWSServer/services/BusinessService"
                binding="basicHttpBinding" bindingConfiguration="BusinessServiceServiceSoapBinding"
                contract="JianzhouService.BusinessService" name="BusinessServicePort" />
    </client>
  </system.serviceModel>
</configuration>