<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ossBucket" value="uxian-intranet" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ossDomain" value="http://uxian-intranet.oss-cn-hangzhou.aliyuncs.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="19dianDataSource" value="Data Source=112.124.0.220,1833;"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NotificationDataSource" value="Data Source=112.124.0.220,1833;"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MobileAppLogDataSource" value="Data Source=112.124.0.220,1833;"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>