@charset "utf-8";
/* CSS Document */
th, td {
	border:1px solid #9f9f9f;
	padding:0px 5px;
}
.aspNetHidden {
	display:none;
}
h2 {
	margin:0;
}
label {
	margin-top:3px;
}
filedset {
	border:0;
}
fieldset legend {
	display:none;
}
ul, li {
	list-style:none;
}
table th {
	width:100%;
}

img {
	border:0px;
}
a {
	outline:none;
} /*firefox*/
a img {
	display:block;
}
.cnzz a img, .qq a img {
	display:inline;
}
a:link, a img, a:visited, a:visited img, a:active, a:active img {
	color:#666;
	text-decoration:none;
}
a:hover, a:hover img {
	color:#026cld;
	text-decoration:underline;
}
code {
	font-size:14px;
	font-family:"宋体";
}

.w100 {
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.height1 {
	font-size:0;
	height:1px;
	clear:both;
	width:100%;
}
.fLeft {
	float:left;
}
.fRight {
	float:right;
}
.divClear {
	clear:both;
	font-size:0;
	overflow:hidden;
}
.clear_fix:after {
	display:block;
	clear:both;
	height:0;
	content:"110";
	visibility:hidden;
}
.btn {
	border:0;
	cursor:pointer;
}
/** widget **/
.fmredio, .fmcheckbox {
	width:15px;
}
input:focus {
	background-color:#d6fcc5;
}
.fmsave, .fmsubmit {
	height:27px;
	line-height:20px;
	border:1px solid #cccccc;
}
*html .fmsave, *html .fmsubmit {
	height:auto;
}

.mt2 {
	margin-top:2px;
}
.mt3 {
	margin-top:3px;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}
.mt25 {
	margin-top:25px;
}
.mt30 {
	margin-top:30px;
}
.ml10 {
	margin-left:10px;
}
.ml15 {
	margin-left:15px;
}
.ml20 {
	margin-left:20px;
}
.ml30 {
	margin-left:30px;
}
.ml35 {
	margin-left:35px;
}
.mr5 {
	margin-right:5px;
}
.mr10 {
	margin-right:10px;
}
.mr15 {
	margin-right:15px;
}
.mr17 {
	margin-right:17px;
}
.mr20 {
	margin-right:20px;
}
.pl10 {
	padding-left:10px;
}
.pl15 {
	padding-left:15px;
}
.pl20 {
	padding-left:20px;
}
.pl25 {
	padding-left:25px;
}
.pl30 {
	padding-left:30px;
}
.pl40 {
	padding-left:40px;
}
.pl50 {
	padding-left:50px;
}
.pl55 {
	padding-left:55px;
}
.pl60 {
	padding-left:60px;
}
.pt5 {
	padding-top:5px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
.pt25 {
	padding-top:25px;
}
.pt30 {
	padding-top:30px;
}
.pt40 {
	padding-top:40px;
}
.pl0 {
	padding-left:0;
}
.pageHeaderContainer{
	background-color:#f8f7f5;
}
.pageHeaderSprite{
	height:133px;
	position:relative;
	top:2px;
	background:url('../img/bg_header.png') left bottom no-repeat;
}
.pageHeader{
	width:960px;
	height:131px;
	background-color:#f8f7f5;
	overflow:hidden;
	margin:0 auto;	
}
.pageHeader .logo{
	width:255px;
	height:128px;
	overflow:hidden;
	float:left;
}
.pageHeader .text{
	margin-left:350px;
	width:607px;
	height:131px;
	overflow:hidden;
}
.pageHeader .topLink{
	font-size:12px;	
	height:44px;
	line-height:44px;
	text-align:right;
}
.pageHeader .topLink .welcome{
	margin-right:35px;		
}
.pageHeader .topLink a{
	margin:0 8px;	
}
.pageHeader .topLink a,
.pageHeader .topLink a:visited{
	color:#666666;	
}
.pageHeader .menu{
	height:85px;
	font-size:16px;
	font-family:"Microsoft YaHei",arial;
	text-align:center;
	vertical-align:middle;
	border-top:2px solid #f8f7f5;
}
.pageHeader .menu li{
	float:left;
	width:150px;
	height:85px;
	overflow:hidden;
}
.pageHeader .menu li a{
	display:block;
	line-height:80px;
	height:80px;
	padding:0 30px;
	color:#6f6f6e;
	background-color:#f8f7f5;
	text-decoration:none;
}
.pageHeader .menu li a.cur{
	color:#ff9e27;
	border-bottom:5px solid #ff9e27;	
}
.footerSprite{
	background-color:#5a5a5a;
}
.footerSprite .footer{
	width:960px;
	margin:0 auto;
	font-size:12px;
	height:45px;
	line-height:45px;
	color:#ffffff;
}
.footer .bottomLink{
	width:500px;
	margin-left:450px;
	text-align:right;
}
.footer .bottomLink li{
	display:inline;	
}
.footer .bottomLink a,
.footer .bottomLink a:visited{
	color:#ffffff;	
	margin-left:8px;
}
.footer .copyright{
	width:444px;
	float:left;
}
.footer .copyright em{
	font-style:normal;	
	font-family:Arial, Helvetica, sans-serif;
	padding:0 3px;
}

/* index */
#indexContainer{
	background-color:#f7f7f7;
}
#indexContainer .barSprite{
	background:url('http://image.u-xian.com/UploadFiles/web/images/bg_banner_index.png') center top no-repeat;
}
#indexContainer .bar{
	position:relative;	
	width:960px;
	margin:0 auto;
	padding-top:20px;
	height:339px;
}
#indexContainer .bar .app{
	width:920px;
	margin-left:40px;
	_margin-left:20px;
	margin-top:240px;
	float:left;
}
#indexContainer .bar .app .download{
	display:block;
	width:232px;
	height:58px;
	text-indent:-1000px;
	overflow:hidden;	
	background:url('../img/uxian_2.png') left top no-repeat;
	position:absolute;
	left:630px;
	top:236px;
}
#indexContainer .bar .app .download-uxian-1{
	display:block;
	width:232px;
	height:58px;
	text-indent:-1000px;
	overflow:hidden;	
	background:url('../img/uxian_1.png') left top no-repeat;
	position:absolute;
	left:630px;
	top:156px;
}
#indexContainer .bar .app p{
	font-size:12px;
	color:#ffffff;	
	margin-top:42px;
	margin-left:465px;
}
#indexContainer .bar .app p a,
#indexContainer .bar .app p a:visited{
	color:#ffffff;
	text-decoration:underline;
}

.loginstatus{
	font-size:12px;	
}
.loginstatus .cb{
	margin-right:5px;
	position:absolute;
	left:0px;
	top:1px;
}
.loginstatus label{
	margin-left:18px;	
}
#indexContainer .bar .fm .btnSprite{
	width:242px;
	height:48px;	
	line-height:48px;
	text-align:center;
	background:url('../img/bg_btn.png') left top no-repeat;
	
}
#indexContainer .bar .fm .btnSprite a,
#indexContainer .bar .fm .btnSprite a:visited{
	color:#ffffff;
}
#indexContainer .bar .fm .btnSprite a{
	display:block;
	text-decoration:none;
	color:#ffffff;
	font-size:20px;	
	font-family:"Microsoft YaHei",arial;
}
#indexContainer .section{
	width:960px;
	height:480px;
	overflow:hidden;
	margin:35px auto 0 auto;
}
#indexContainer .company{
	width:544px;
	float:left;
	position:relative;
	left:0;
}
#indexContainer .company .header,
#indexContainer .news .header{
	font-size:12px;	
	position:relative;
}
#indexContainer .company .header h2,
#indexContainer .news .header h2{
	font-size:20px;	
	font-family:"Microsoft YaHei",arial;
	color:#535353;
}
#indexContainer .company .header p,
#indexContainer .news .header a{
	position:absolute;
	right:20px;
	top:5px;	
	background-color:#f7f7f7;
}
#indexContainer .company .text{
	position:absolute;
	left:0px;
	top:22px;
}
#indexContainer .company .text li{
	float:left;	
	margin:20px 20px 0px auto;
}
#indexContainer .company .text li a{
	display:block;
	padding:2px;
	width:112px;
	height:111px;
	background:url('../img/bg_com.png') left top no-repeat;	
}

#indexContainer .news{
	width:280px;	
	margin-left:664px;
	font-family:"Microsoft YaHei",arial;
	color:#535353;
}
#indexContainer .news .header a{
	line-height:22px;	
}
#indexContainer .news .text{
	margin-top:27px;
	font-size:12px;	
}
#indexContainer .news .text li{
	height:30px;
	overflow:hidden;
	line-height:30px;	
	position:relative;
	left:0;
}
#indexContainer .news .text li a{
	font-family:"Microsoft YaHei",arial;
	color:#535353;	
	text-decoration:none;
	padding-left:90px;
}
#indexContainer .news .text li a:hover{
	color:#fe9d1f;	
}
#indexContainer .news .text li .date{
	position:absolute;
	left:0;	
	top:0;
}


.pageContainer{
	background-color:#f7f7f7;
}
.pageContainer .page{
	width:960px;
	margin:0 auto;	
	padding-bottom:100px;
	padding-top:35px;	
	height:auto!important;
	min-height:468px;
	*height:468px;
}
.pageContainer .barSprite{
	width:100%;
	background:url('../img/bg_banner2.png') center top no-repeat;
}
.pageContainer .bar{
	width:960px;
	height:240px;
	overflow:hidden;
	margin:0 auto;	
}
.pageContainer .barComment{
	width:960px;
	height:118px;
	margin:0 auto;
	position:relative;
	left:0;
	bottom:0;
	border:1px solid #f7f7f7;
	font-family:"Microsoft YaHei",arial;
}

.pageContainer .barComment .title{
	width:108px;
	height:108px;
	font-size:24px;
	color:#707070;
	background:url('../img/banner_circle.png') center top no-repeat;
	position:absolute;
	top:-55px;
	left:40px;
}
.pageContainer .barComment .title h2{
	width:52px;
	height:52px;	
	margin-left:30px;
	margin-top:14px;
	font-weight:500;
	line-height:25px;
}
.pageContainer .barSprite .company{
	font-size:16px;
	color:#777777;
}
.pageContainer .barSprite .company .text{
	width:895px;
	position:relative;
	left:45px;
	top:45px;
}

.pageContainer .page .header{
	font-size:26px;
	font-family:"Microsoft YaHei",arial;
	border-bottom:3px solid #707070;
	color:#777777;
	padding:0 0 10px 29px;
}

.pageContainer .proList .text{
	padding-bottom:55px;	
}
.proList .text .itemSprite{
	background:url('../img/line_bot.png') left bottom repeat-x;
}
.proList .text .item{
	height:350px;
	overflow:hidden;
	background:url('http://image.u-xian.com/UploadFiles/web/images/arrow_2.png') 600px top no-repeat;
	font-family:"Microsoft YaHei",arial;
	position:relative;
	left:0;
}
.proList .text .item h2{
	font-size:40px;	
	height:53px;
	color:#fb9f05;
	position:absolute;
}
.proList .text .item h2 .icon{
	display:block;
	width:57px;
	height:53px;
	float:left;
	background:url('../img/arrow_1.png') left 5px no-repeat;	
}
.proList .text .item p{
	position:absolute;
	font-size:16px;	
	color:#777777;
}


.proList .text .dian{
	background-position:600px -746px;	
}
.proList .text .dian h2{
	left:35px;
	top:135px;	
}
.proList .text .dian h2 .icon{
	background-position:-76px 12px;
}
.proList .text .dian p{
	width:549px;
	left:35px;
	top:211px;		
}

.proList .text .pay{
	background-position:50px 5px;	
}
.proList .text .pay h2{
	left:715px;
	top:126px;	
}
.proList .text .pay h2 .icon{
	background-position:0px 4px;
}
.proList .text .pay p{
	text-align:right;
	width:509px;
	left:435px;
	top:205px;		
}
.proList .text .income{
	background-position:600px -1120px;	
}
.proList .text .income h2{
	left:35px;
	top:105px;	
}
.proList .text .income h2 .icon{
	background-position:-76px -50px;
}
.proList .text .income p{
	text-align:left;
	width:589px;
	left:35px;
	top:186px;		
}
.proList .text .queue{
	background-position:50px -375px;	
}
.proList .text .queue h2{
	left:715px;
	top:126px;	
}
.proList .text .queue h2 .icon{
	background-position:0px -45px;
}
.proList .text .queue p{
	text-align:right;
	width:509px;
	left:435px;
	top:205px;		
}

.info .headerInfo{
	height:43px;
	border-bottom:3px solid #fa9319;	
	line-height:43px;
	
}
.info .headerInfo li{
	display:inline;	
	color:#777777;	
}
.info .headerInfo li a,
.info .headerInfo li a:visited{
	color:#777777;	
}
.info .headerInfo li.indexLink a{
	display:block;
	float:left;
	padding-left:25px;
	overflow:hidden;
	text-indent:-1000px;
	background:url('../img/arrow_4.png') left 12px no-repeat;
}
.info .headerInfo li.txtColor{
	color:#fa9927;	
	margin-right:3px;
	font-family:"宋体";
}
.info .headerInfo li.cur{
	color:#fa9927;	
}
.info .text{
	font-family:"Microsoft YaHei",arial;
	background:url('../img/line_bot.png') left bottom repeat-x;
	color:#777777;
}
.info .text .title{
	width:913px;
	margin:15px auto;
	font-size:20px;
	color:#444444;
}
.info .text .comment{
	width:913px;
	margin:0px auto;
	font-size:12px;	
}
.info .text .txt{
	height:auto!important;
	min-height:468px;
	*height:468px;
	margin:25px auto;
	padding-bottom:25px;
	padding:0 20px;
}

.contactUs .text,
.links .text,
.services .text{
	background-image:none;
}
.contactUs .text .txt{
	height:auto!important;
	min-height:250px;
	*height:250px;
	background:url("../img/line_bot.png") left bottom repeat-x;
	line-height:35px;
	padding-left:20px;
}
.contactUs .text .txt .headerItem{
	font-size:20px;
	padding-bottom:15px;
	color:#000000;
}
.contactUs .text .title ,
.links .text .title,
.services .text .title{
	width:940px;
	padding-left:20px;
	padding-bottom:20px;
	font-size:30px;
	background:url("../img/line_bot.png") left bottom repeat-x;
	font-weight:500;
}
.contactUs .text .txt strong{
	font-weight:900;
}

.services .text .txt{
	width:928px;
	margin:0 auto;
	font-size:14px;
}
.services .text .txt h4{
	padding:16px 0;
}
.services .text .txt p{
	padding-top:10px;
}




.version .text{
	width:926px;
	margin:25px auto;
	font-size:12px;	
}
.version .text .item{
	margin-top:17px;
	padding-bottom:17px;
	background:url('../img/line_bot.png') left bottom repeat-x;	
}
.version .text .item dt{
	width:140px;
	float:left;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;	
}
.version .text .item dt em{
	font-size:27px;	
	display:block;
}
.version .text .item .txt{
	width:780px;	
	margin-left:145px;
	height:auto!important;
	min-height:67px;
	height:67px;
	line-height:22px;
}
.pageContainer .newsList .text{
	width:926px;
	margin:15px auto;
}
.pageContainer .newsList .text .item{
	font-family:"Microsoft YaHei",arial;
	background:url('../img/line_bot.png') left bottom repeat-x;
	color:#777777;
	padding-bottom:25px;
}
.newsList .text .item dt{
	font-size:20px;
	color:#444444;	
	height:60px;
	line-height:60px;
	position:relative;
}
.newsList .text .item dt a{
	font-size:14px;
	position:absolute;
	right:0;
	top:20px;
	height:22px;
	line-height:22px;
	background-color:#f7f7f7;
}


.newsList .text .item .txt{
	font-size:14px;	
}
.newsList .text .item .txt{
	height:auto!important;
	min-height:35px;
	*height:35px;
}
.newsList .text .item .txt .date{
	float:left;
	width:100px;
	height:35px;
	line-height:35px;	
}
.newsList .text .item .txt p{
	height:35px;
	line-height:35px;
	overflow:hidden;	
}
.newsList .text .item .txt a{
	color:#444444;
	text-decoration:none;	
}
.newsList .text .item .txt a:hover{
	color:#fda32e;	
}

.newsList .pageBtn{
	width:630px;
	height:43px;
	line-height:43px;
	margin:0 auto;
}
.newsList .pageBtn .num{
	width:400px;
	float:left;
	text-align:center;
}
.newsList .pageBtn .num li{
	display:inline;	
	margin-right:15px;
	text-align:center;
}
.newsList .pageBtn .num li a{
	padding:10px 18px;
	text-decoration:none;
	text-align:center;
	font-size:18px;
	font-family:"Microsoft YaHei",arial;
	background:url('../img/btn_page.png') left -56px no-repeat;
}
.newsList .pageBtn .num li a.cur{
	background-position:left top;	
	color:#ffffff;
}
.newsList .pageBtn .switch{
	float:left;
	width:216px;
	height:43px;
}
.newsList .pageBtn .switch .inputText,
.newsList .pageBtn .switch label{
	float:left;	
	margin-right:10px;
}
.newsList .pageBtn .switch label,
.newsList .pageBtn .switch .inputText{
	width:50px;
	height:40px;
	line-height:43px;
}
.newsList .pageBtn .switch .inputText{
	background-color:#ffffff;
	border:1px solid #7e7e7e;
}
.newsList .pageBtn .switch .btnSprite{
	float:left;
	padding-left:20px;
	background:url('../img/btn_page2.png') left 0px no-repeat;
	margin-right:10px;
}
.newsList .pageBtn .switch .comfirm{
	display:block;
	padding-right:20px;
	background:url('../img/btn_page2.png') right 0px no-repeat;
}


.page  .pageTxt{
	width:926px;
	margin:0 auto;
	
}
.page  .pageTxt a,
.page  .pageTxt a:visited{
	color:#777777;
	font-size:14px;
	cursor:pointer;
}
.page  .pageTxt span{
	margin-left:16px;
	font-size:14px;
	color:#777777;
}


.barSprite .download{
	background:#f8f6f7 url('../img/bg_banner3.png') right top no-repeat;	
}
.barSprite .download .text{
	width:356px;
	height:160px;
	position:relative;
	left:40px;
	top:47px;	
	font-family:"Microsoft YaHei",arial;
}
.barSprite .download .text h3{
	font-size:20px;
	color:#535353;
}
.barSprite .download .text .appSpirte{
	float:left;
	width:210px;
	border-right:1px solid #ffffff;	
}
.barSprite .download .text .app{
	width:209px;
	height:127px;
	border-right:1px solid #dfdfdf;	
}
.barSprite .download .text .app a{
	background-position:left top;
	background-repeat:no-repeat;
	width:184px;
	height:56px;
	overflow:hidden;
	display:block;	
	margin:6px 0;
	text-indent:-1000px;
}
.barSprite .download .text .app a.store{
	background-image:url('../img/btn_down1.png');	
}
.barSprite .download .text .app a.android{
	background-image:url('../img/btn_down2.png');	
}
.barSprite .download .text .qrCode{
	margin-left:236px;
	font-size:12px;
	text-align:center;
}
.barSprite .download .text .qrCode img{
	border:10px solid #ffffff;	
}
.appProfile{
	position:relative;
	top:-40px;	
}
.appProfile:after{
	clear:both;
	content:'\20';
	display:block;
	height:0;
}

.appProfile .item{
	width:470px;
	height:125px;
	padding-top:50px;
	overflow:hidden;
	float:left;
	color:#7f7f7f;
	font-family:"Microsoft YaHei",arial;
}
.appProfile .item .icon{
	width:162px;
	height:175px;
	float:left;
	display:block;	
	background:url('../img/arrow_3.png') 50px 0px no-repeat;
}
.appProfile .item h4{
	font-size:20px;	
	color:#444444;
}
.appProfile .item .txt{
	margin-top:15px;	
}
.appProfile .pay .icon{
	background-position:50px -340px;
}
.appProfile .shop .icon{
	background-position:-125px -340px;
}
.appProfile .back .icon{
	background-position:40px -538px;
}
.appProfile .surprise .icon{
	background-position:-125px -558px;
}

.version .header .more{
	float:right;
	font-size:14px;	
	line-height:40px;
	position:relative;
	*top:-45px;
}
.pageContainer .appProfile .barComment{
	height:20px;
	position:relative;
	top:5px;
}

.pageContainer .appProfile .index{
	color:#ff9e27;	
	font-size:35px;
}
.appProfile .free .icon{
	background-position:50px 20px;	
}
.appProfile .quan .icon{
	background-position:-125px 20px;	
}
.appProfile .marketing .icon{
	background-position:50px -136px;	
}
.appProfile .account .icon{
	background-position:-125px -136px;	
}



.pageContainer .case .header{
	border-bottom:0;	
}
.pageContainer .case .text{
	padding-left:40px;
	width:100%;
}
.pageContainer .case .text li{
	width:267px;
	float:left;
	position:relative;
	left:0;
	margin-right:38px;
}
.pageContainer .case .text li .name{
	float:left;
	width:267px;
	height:45px;
	line-height:45px;
	background:url('../img/bg_btn1.png') left top no-repeat;	
	font-size:18px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	top:-45px;
}
.pageContainer .case .text li .name1{
	float:left;
	width:110px;
	height:30px;
	line-height:30px;
	background:url('../img/bg_btn1.png') left top no-repeat;	
	font-size:16px;
	text-align:center;
	padding:0;
	margin:0;
	position:relative;
	top:-30px; 
}
.pageContainer .case .text li .name a{
	display:block;
	color:#ffffff;	
	font-family:"Microsoft YaHei",arial;
}
.pageContainer .case .text li img{
	float:left;
}
.caseCompany .text:after,
.pageContainer .case .text:after{
	clear:both;
	content:'\20';
	display:block;
	height:0;
}
.caseCompany .text{
	padding-left:40px;	
}
.caseCompany .text li{
	float:left;	
	margin:20px 10px 0px auto;
}
.caseCompany .text li a{
	display:block;
	padding:2px;
	width:112px;
	height:111px;
	background:url('../img/bg_com.png') left top no-repeat;	
}

.user{
	font-family:"Microsoft YaHei",arial;
	color:#444444;	
}
.user .headerItem{
	font-size:30px;
	height:64px;
	line-height:64px;
}
.user p .title{
	width:74px;
	height:35px;
	line-height:35px;
	float:left;	
}
.user p{
	margin-top:24px;
	height:35px;
	line-height:35px;	
}
.user p .inputText{
	width:240px;	
	height:35px;
	line-height:35px;
	background-color:#ffffff;
	border:1px solid #7e7e7e;
}
.user p.comfirmCode{
	position:relative;	
	left:0;
}
.user p.comfirmCode .inputText{
	width:130px;	
}
.user p.comfirmCode img{
	position:absolute;
	left:217px;
	top:-2px;
}

.user .btnSprite{
	height:48px;
	padding-left:25px;
	width:160px;
	background:url('../img/bg_btn.png') left top no-repeat;
	position:relative;
	left:100px;
	top:0px;
}
.user .btnSprite .btn{
	display:block;
	height:48px;
	padding-right:25px;
	background:url('../img/bg_btn.png') right top no-repeat;
	color:#ffffff;
	font-size:20px;
	font-family:"Microsoft YaHei",arial;
	text-align:center;
	text-decoration:none;
	height:48px;
	line-height:48px;
}



.userlogin{
	width:384px;
	height:794px;
	border-right:1px solid #dfdfdf;
}
.userloginSprite{
	float:left;
	width:385px;
	border-right:1px solid #ffffff;
}
.usersign{
	margin-left:436px;
	width:522px;
	height:794px;
}
.comsign{
	width:542px;
	margin:0 auto;	
}

/*关于我们*/
.content{
	font-family:Microsoft YaHei,Tahoma,simsun;
}
.content .c{ clear:both;}
.content p{
	padding:8px 0;
	line-height: 1.5em;
	text-indent: 2em;
}
.content .ptitle{
	text-align: center;
	text-indent: 0em;
}
.content .ptitle span{ text-decoration:underline; font-weight:bold; }
.content .pimg img{ width:40%; float:left;  margin:5%;}
#pimg5{ text-align:center;}
#pimg5 img{ margin:5%;}

.content .htitle{font-weight: bold;}


