<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMSYimei.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SMSYimei.Properties.Settings>
            <setting name="SMSYimei_YimeiService_SDKService" serializeAs="String">
                <value>http://sdkhttp.eucp.b2m.cn:80/sdk/SDKService</value>
            </setting>
        </SMSYimei.Properties.Settings>
    </applicationSettings>
</configuration>