body {
  font-size: 25px;
  font-family: Microsoft YaHei, Tahoma, simsun;
}
img {
  display: block;
}
p {
  margin: 0;
}
.c {
  width: 0;
  height: 0;
  font-size: 0;
  clear: both;
}
.loadingImg {
  position: absolute;
  top: 50%;
  width: 15%;
  left: 50%;
  margin: -7.5% 0 0 -7.5%;
}
#goGet {
  position: relative;
}
/*导航*/
#goGet .checking {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1;
}
#goGet .checking ul {
  padding: 0;
  margin: 12px auto;
  width: 80%;
  overflow: hidden;
}
#goGet .checking ul li {
  list-style-type: none;
  width: 33.3%;
  padding: 7px 0;
  text-align: center;
  color: #7b7b7b;
  border: 1px solid #eaeaea;
  background: #fff;
  float: left;
}
#goGet .checking ul li:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}
#goGet .checking ul li:last-child {
  border-radius: 0 4px 4px 0;
  border-left: none;
}
#goGet .checking ul .chkCur {
  color: #444;
  background: #eaeaea;
}
/*抵扣券浏览*/
#goGet .conMain {
  margin-top: 60px;
  width: 100%;
  margin-bottom: 20px;
}
#goGet .conMain a {
  display: block;
}
#goGet .conMain dl {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px;
  margin-left: 4%;
  width: 44%;
  float: left;
  display: block;
}
#goGet .conMain dl p {
  margin: 0;
}
#goGet .conMain dl dd {
  position: relative;
}
#goGet .conMain dl dd img {
  width: 100%;
}
#goGet .conMain dl dd p {
  color: #fff;
  background: #f00;
  padding: 4px 0;
  text-align: center;
}
#goGet .conMain dl dd .endPic {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#goGet .conMain dl dt {
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding: 8px 6px;
}
#goGet .conMain dl dt p {
  color: #000203;
}
#goGet .conMain dl dt .shopADD {
  font-weight: normal;
  font-size: 0.9em;
}
#goGet .conMain .shopEndPic dl dd .endPic {
  display: block;
}
#goGet .conMain .shopEndPic dl dd p {
  background: #6e6e6e;
}
#goGet .doload {
  padding: 5% 0;
}
#goGet .doload img {
  width: 10%;
  margin: 0 auto;
}
/*领取成功*/
#gotten .gottenInfo {
  position: relative;
}
#gotten .gottenInfo img {
  width: 100%;
}
#gotten .gottenInfo .info {
  position: absolute;
  bottom: 3%;
  width: 100%;
}
#gotten .gottenInfo .info p {
  color: #616161;
  text-align: center;
  margin: 0;
}
#gotten .gottenInfo .info .des {
  width: 70%;
  color: #fff;
  margin-bottom: 4%;
  margin-left: 15%;
}
#gotten .gottenInfo .info .des span {
  font-size: 1.4em;
}
#gotten .gottenInfo .info .number {
  color: #fff;
  margin-bottom: 4%;
}
#gotten .gottenInfo .info .number a,
#gotten .gottenInfo .info .number a:hover,
#gotten .gottenInfo .info .number a:active {
  color: #fff834;
  text-decoration: underline;
  padding: 7px;
}
#gotten .gottenInfo .info .downbtn {
  margin: 0 auto 2% auto;
}
#gotten .other {
  width: 100%;
  background: #fffee3;
  overflow: hidden;
}
#gotten .other .titleImg {
  width: 100%;
  margin: 18px 0;
}
#gotten .other dl {
  float: left;
  width: 44%;
  background: #fff;
  padding: 2%;
  margin-bottom: 10px;
  margin-left: 4%;
  -webkit-box-shadow: 0px 2px 5px #bbb;
}
#gotten .other dl dd img {
  width: 100%;
}
#gotten .other dl dt p {
  text-align: right;
}
#gotten .other dl dt #dishName {
  text-align: left;
  padding: 5px 0;
}
#gotten .other dl dt #oldPrice {
  color: #888;
}
#gotten .other dl dt #nowPrice {
  font-size: 1.3em;
  color: #e44934;
}
/*已抢完 已过期*/
#over {
  width: 100%;
}
#over img {
  width: 100%;
}
/*透明黑底*/
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 99;
}
.popupBox {
  position: fixed;
  top: 50px;
  left: 10%;
  width: 80%;
  border-radius: 0.6em;
  padding: 26px 23px;
  background: #fff;
  z-index: 100;
}
/*领取页输入手机号弹出框*/
.iptInfo p {
  margin-bottom: 10px;
}
.iptInfo input {
  border: 1px solid #030101;
  border-radius: 0.4em;
  height: 48px;
}
.iptInfo #phoneNumber {
  width: 100%;
  padding: 0 1em;
}
.iptInfo .btn {
  width: 48%;
  background: #fff;
}
.iptInfo #confirm {
  border-color: #ff1717;
  color: #ff1717;
}
/*提示 号码纠错*/
.msg {
  padding: 0;
}
.msg p {
  text-align: center;
  width: 80%;
  padding: 7px 0;
  margin: 0 10%;
}
.msg .current p:first-child {
  margin-top: 10px;
}
.msg .current input {
  width: 100%;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #666;
}
.msg .current ul {
  width: 100%;
  padding: 0;
  margin: 10px 0 0 0;
  border-top: 1px solid #666;
  overflow: hidden;
}
.msg .current ul li {
  width: 50%;
  float: left;
  text-align: center;
  list-style-type: none;
  padding: 15px 0;
}
.msg .current ul #cencelCur {
  border-right: 1px solid #666;
}
@media (max-width: 640px) {
  body {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 23px;
  }
}
@media (max-width: 560px) {
  body {
    font-size: 22px;
  }
}
@media (max-width: 520px) {
  body {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 440px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 13px;
  }
}
