<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Debug" value="false" />
    <add key="19dianDataSource" value="Data Source=192.168.1.11;" />
    <add key="NotificationDataSource" value="Data Source=192.168.1.11;" />
    <add key="MobileAppLogDataSource" value="Data Source=192.168.1.11;" />
    <!--系统管理员-->
    <add key="employeeId" value="29" />
    <!--日志文件名称-->
    <add key="logFileName" value="ShopVerifyService" />
    <!--是否调用LogDll-->
    <add key="debugInfo" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--设置线程池中最大线程数-->
    <add key="threadCount" value="10"/>
    <!--对账区间开始时间-->
    <add key="startTime" value="3"/>
    <!--对账区间结束时间-->
    <add key="endTime" value="5"/>
    <!--商户余额日志时间-->
    <add key="logTime" value="23"/>
    
    
    <!--实际执行检查短信平台余额的时间（hour）-->
    <add key="smsExcuteTime" value="9" />
    <!--国都短信平台用户名密码-->
    <add key="SmsUid" value="youluo"></add>
    <add key="SmsPwd" value="youluo"></add>
    <!--短信余额不足提醒邮件收件人-->
    <add key="addressTo" value="yanni.jin@u-xian.com;jason.xiao@u-xian.com"/>
    <!--短信条数提醒区间-->
    <add key="firstNode" value="1000"/>
    <add key="secondNode" value="2000"/>
    <add key="thirdNode" value="3000"/>

    <!--亿美短信软件序列号-->
    <add key="softwareSerialNo" value="3SDK-EMY-0130-JDQQO"/>
    <add key="key" value="viewalloc776637"/>
    <!--字符编码，默认为"GBK"-->
    <add key="srcCharset" value="GBK"/>
    <!--短信等级，范围1~5，数值越高优先级越高-->
    <add key="smsPriority" value="5"/>
    <!--序列号密码-->
    <add key="serialpass" value="410213"/>
    <!--忘记密码处发送验证邮件的邮箱已经密码-->
    <add key="Smtp" value="smtp.qq.com"></add>
    <add key="ForgetEmailAddress" value="public@viewalloc.com"></add>
    <add key="ForgetEmailAddressPassword" value="va28331560"></add>
  </appSettings>
  <connectionStrings>
    <add name="VAMsjConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bW0y2EYOavc2URZkxYQtiLUgElmpgwdBolV7JBXDyGQ7pKv+i7GxYxvpCdylWTJW7PiyO4kWzcf3Y6SCh3gPuuc7ngL+vEQ/LGW3UxVHhc9M=" providerName="System.Data.SqlClient" />
    <add name="NotificationConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bwahBjO2StC0RLeSU2kEAnQaGxxwMW7Rw++uTn3xzDASyinQnJVGPs6JYorkBzW7198+8Elmk2OQ0kL+vR0WDHh+7SrQstjq+8D6XdWgiF/E=" providerName="System.Data.SqlClient" />
    <!--创建员工操作日志数据库记录链接-->
    <add name="MobileAppLogConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bW0y2EYOavc0Gc+99XO3X46fhlJYbWHTqGK31ehW72OKDOzYAKxuxUp4T68XeMLqn1CMw0JpyzykvAUYHQIF9lkQE/lZJCY1NnsloxAPu5vk=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>