@charset "utf-8";
/* CSS Document */

*{font-family:'microsoft yahei',Arial, Helvetica, sans-serif; outline:none;}
html, body{ background-color:#E47213;}
.cover img{ width:100%;}
h4{ color:#fff; font-weight:bold; padding:0px 15px;}
section{ padding:0px 15px; margin-top:40px;}
section .avatar img{ width:80px; height:80px;}
p{ color:#fff; font-size:14px;}
.tip{ border-top:1px dashed #000; border-bottom:1px dashed #000; padding:30px 15px 20px 15px;}
p strong{ color:#000; font-weight:bold; font-size:16px;}
.tip ul{ color:#fff; list-style:square; margin-left:0px; padding-left:20px;}
.tips{ color:#fff; font-weight:bold; font-size:16px;}
.tips h6{ font-weight:bold; font-size:18px;}