<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PrintManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VAMsjConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bW0y2EYOavc2URZkxYQtiLUgElmpgwdBolV7JBXDyGQ7pKv+i7GxYxvpCdylWTJW7kquO4/v/VGLXhlT8Hg7cQI3OX2q/6Pi83XRsVnJqQxYrV/QhgEke2w==" providerName="System.Data.SqlClient"/>
    <add name="NotificationConnectionString" connectionString="RBtW0/ZFc4gVgZLXOEQD4R3gmTVi7T0bwahBjO2StC0RLeSU2kEAnQaGxxwMW7Rw++uTn3xzDASyinQnJVGPs6JYorkBzW71o2gau3jNTODGwtiLols/u1dxg3o2/2ZueXoT3VPXzsMsXxUrqb5xkQ==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="19dianDataSource" value="Data Source=42.121.124.112;"/>
    <add key="NotificationDataSource" value="Data Source=42.121.124.112;"/>
    <!--DataSource的ip地址后面有";"格式为："Data Source=192.168.1.10;"-->
    <add key="p12File" value="4th.p12"/>
    <add key="p12FilePassword" value="19dian"/>
    <add key="sleepBetweenNotifications" value="1000"/>
    <add key="sandbox" value="true"/>
    <add key="threadNumber" value="5"/>
    <add key="debugInfo" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
